<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto de perfil</title>
</head>
<body>
    <form action="/change-profile" method="POST">
        <div class="profile-photo-form">
            <h3>Cambia tu foto de perfil</h3>
            <hr>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
        </div>
    </form>
</body>
</html>