<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear evento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="images/logo.webp" type="image/png">
</head>
<body>
    <form class="create-event">
        <div class="create-event-form">
            <h3>Crear un evento</h3>
            <hr>
            <div class="mb-3">
                <label for="titleInput" class="form-label">Título: </label>
                <input type="text" class="form-control" id="titleInput" aria-describedby="titleHelp" name="titulo" required>
                <small id="titleError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <div class="mb-3">
                <label class="descInput">Descripcion: </label>
                <textarea class="create-event-textarea" id="descInput" name="descripcion" required></textarea>
                <small id="descError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <div class="mb-3 datetime">
                <label for="fechaInput" class="form-label">Fecha: </label>
                <input type="date" class="form-control" id="fechaInput" name="fecha" required>
                <small id="fechaError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>

                <label for="hourInput" class="form-label">Hora: </label>
                <input type="time" class="form-control" id="hourInput" name="hora" required>
                <small id="hourError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <div class="mb-3 location-capacity">
                <label for="ubiState" class="form-label">Ubicación: </label>
                <select id="ubiState" class="form-select" name="ubicacion" required>
                  <option selected>Elegir...</option>
                  <%facultades.forEach(facultad=>{%><option value="<%= facultad.nombre %>"> <%=facultad.nombre%></option> <%});%>
                </select>
                <small id="ubiError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>

                <label for="capInput" class="form-label">Capacidad: </label>
                <input type="number" class="form-capacity" id="capInput" aria-describedby="capHelp" name="capacidad_maxima" required>
                <small id="capError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <div class="mb-3">
                <label for="eventInput" class="form-label">Tipo de evento: </label>
                <select id="eventInput" class="form-select" name="tipo" required>
                  <option selected>Elegir...</option>
                    <option value="Seminario">Seminario</option>
                    <option value="Taller">Taller</option>
                    <option value="Conferencia">Conferencia</option>
                </select>
                <small id="eventError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <button type="button" class="btn btn-primary" onclick="validate()">
                Crear
            </button>
              
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Evento creado</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body-content">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Vale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>

       

        document.getElementById("titleInput").addEventListener("input",function (){
            const titulo=document.getElementById("titleInput");
            const error=document.getElementById("titleError");

            if(titulo.value.trim()===""||titulo.value.trim()===" "){
                titulo.style.borderColor = "red";
                error.style.display = "block";
            }
            else {
                titulo.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("descInput").addEventListener("input", function () {
            const desc = document.getElementById("descInput");
            const error = document.getElementById("descError");

            if (desc.value.trim() === "") {
                desc.style.borderColor = "red";
                error.style.display = "block";
            } else {
                desc.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("fechaInput").addEventListener("input", function () {
            const fecha = document.getElementById("fechaInput");
            const error = document.getElementById("fechaError");

            if (fecha.value.trim() === "") {
                fecha.style.borderColor = "red";
                error.style.display = "block";
            } else {
                fecha.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("hourInput").addEventListener("input", function () {
            const hora = document.getElementById("hourInput");
            const error = document.getElementById("hourError");

            if (hora.value.trim() === "") {
                hora.style.borderColor = "red";
                error.style.display = "block";
            } else {
                hora.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("ubiState").addEventListener("change", function () {
            const ubicacion = document.getElementById("ubiState");
            const error = document.getElementById("ubiError");

            if (ubicacion.value === "Elegir...") {
                ubicacion.style.borderColor = "red";
                error.style.display = "block";
            } else {
                ubicacion.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("capInput").addEventListener("input", function () {
            const capacidad = document.getElementById("capInput");
            const error = document.getElementById("capError");

            if (capacidad.value.trim() === "" || capacidad.value <= 0) {
                capacidad.style.borderColor = "red";
                error.style.display = "block";
            } else {
                capacidad.style.borderColor = "";
                error.style.display = "none";
            }
        });

        document.getElementById("eventInput").addEventListener("change", function () {
            const tipo = document.getElementById("eventInput");
            const error = document.getElementById("eventError");

            if (tipo.value === "Elegir...") {
                tipo.style.borderColor = "red";
                error.style.display = "block";
            } else {
                tipo.style.borderColor = "";
                error.style.display = "none";
            }
        });

        function validate(){
            var valid=true;

            $(".create-event-form input, .create-event-form select, .create-event-form textarea").each(function(){
                if ($(this).val().trim() === "" || $(this).val() === "Elegir...") {
                    $(this).css("border-color", "red");
                    valid = false;
                } 
                else {
                    $(this).css("border-color", "");
                }
            });
            if (valid) {
                $(".create-event").submit();
                
            } 
            else {
                alert("Por favor complete todos los campos.");
                
            }
        }

        $(".create-event").on("submit",function(e){
            e.preventDefault();
            $.ajax({
                url:"/create-event",
                method:"POST",
                data:$(this).serialize(),
                success:function(response){
                    $('#modal-body-content').text('Evento creado con el nombre: ' + response.titulo);
                    $("#exampleModal").show("show");
                },
                error: function () {
                    alert("Hubo un error al crear el evento.");
                }
            });
        });

    </script>
</body>
</html>