<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="images/logo.webp" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="images/logo.webp" title="Gestimaster" alt="gestimaster">
        <h1>Portal de Gestión de Eventos Universitarios</h1>
      
    </header>
    <form action="/register" method="POST">
        <div class="register-form mb-5">
            <h1 class="text-center"><i class="fa fa-lock" aria-hidden="true"></i> Register</h1>
            <hr>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Nombre: </label>
                <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" name="nombre" required>
                <small id="nameError" class="text-danger" style="display: none;">Este campo es obligatorio*</small>
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email:</label>
                <input type="email" class="form-control" id="emailInput" name="correo" required>
                <small id="emailError" class="text-danger" style="display: none;">El email debe terminar en @ucm.es*</small>
            </div>
            <div class=" mb-3">
                <label for="exampleInputPassword1" class="form-label">contraseña: </label>
                <div class="input-group">
             
                    <input required type="password" class="form-control" id="exampleInputPassword1" name="contrasenia" placeholder="Contraseña">
                    <div class="input-group-append">
                      <span class="input-group-text toggle-password h-100" id="togglePassword" toggle="#exampleInputPassword1">
                        <i class="fa fa-eye"></i>
                      </span>
                    </div>
                </div>
                
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Teléfono de contacto: </label>
                <input type="text" class="form-control" id="phone" name="telefono">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">Facultad: </label>
                <select id="facultad" class="form-select" name="facultad">
                  <option selected>Elegir...</option>
                  <%facultades.forEach(facultad=>{%><option value="<%= facultad.nombre %>"> <%=facultad.nombre%></option> <%});%>
                </select>
            </div>
            <div class="mt-3">
                <span>Elige tu rol:</span>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rol" id="organizador" value="organizador">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Organizador
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rol" id="asistente" value="asistente" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Asistente
                    </label>
                  </div>
            </div>
            <button type="submit" class="btn btn-success w-100 mb-2" onclick="validate()">Registrarse</button>
            <div class="border-top pt-3">
                <p>Ya te has registrado? <a href="/" id="show-register">Inicia sesión</a></p>

              </div>
        </div>
    </form>
    <footer>
        <div class="info">
            <ul><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
              </svg> Teléfono: 91 358 13 65</ul>
            <ul><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
              </svg> email: <a href="">gestionmaster@ucm.es</a></ul>
            <ul>Síguenos en redes sociales</ul>
            <ul>Campamento UCM</ul>
            <ul>Prácticas</ul>
            <ul>Ofertas de empleo</ul>
        </div>
        <div class="images">
            <ul><img src="images/facebook.png"></ul>
            <ul><img src="images/x.avif"></ul>
            <ul><img src="images/linkedin.webp"></ul>
            
        </div>
        <div class="close"><ul><a href="/logout">Cerrar sesión</a></ul></div>
        <div class="copy"><p>© 2024 Todos los derechos reservados.</p></div>
    </footer>
    <script>




$(document).ready(function() {
        $(".toggle-password").click(function() {
            let input = $($(this).attr("toggle"));
            let icon = $(this).find("i");
  
            if (input.attr("type") == "password") {
                input.attr("type", "text");
                icon.removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                icon.removeClass("fa-eye-slash").addClass("fa-eye");
            }
        });

        
    });
        document.getElementById("nameInput").addEventListener("input", function() {
            const nameField = document.getElementById("nameInput");
            const nameError = document.getElementById("nameError");
        
            if (nameField.value.trim()===""||nameField.value.trim()===" ") {
                nameField.style.borderColor = "red";
                nameError.style.display = "block";
            } else {
                nameField.style.borderColor = "";
                nameError.style.display = "none";
            }
        });
    
        document.getElementById("emailInput").addEventListener("input", function() {
            const emailField = document.getElementById("emailInput");
            const emailError = document.getElementById("emailError");
        
            if (emailField.value.endsWith("@ucm.es")) {
                emailField.style.borderColor = "";
                emailError.style.display = "none";
            } else {
                emailField.style.borderColor = "red";
                emailError.style.display = "block";
            }
        });

        function validate(){
            const phoneInput=document.getElementById("phone").value;
            const facultadInput=document.getElementById("facultad").value;

            if(phoneInput.length!=9){
                alert("Número de teléfono incorrecto");
                return false;
            }
            if(facultadInput===""){
                alert("El campo facultad no puede estar vacío");
                return false;
            }
            alert("Ahora inicia sesión");
            return true;
        }
    </script>
    
</body>
</html>